html, body{
    height: 100%;
}

.warning{
    position: absolute;
    top: 0;
}

body {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;

    font-family: sans-serif;
    position: relative;
}

.person_container {
    font-size: 60vmin;
    display: inline-block;
    padding-left: 100%;


    /*
    animation: clean 15s linear infinite;
    */
}

@keyframes clean {
    0% {
        transform: translate(10%, 0);
    }
    100% {
        transform: translate(-110%, 0);
    }

}