body {
    height: 100vh;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;

    font-family: sans-serif;
}

.person_container{
    font-size: 30vw;
    display: inline-block;
    padding-left: 100%;
    /*
    animation: clean 15s linear infinite;
    */
}
.buttons_container{
    display: flex;
    justify-content: center;
}
.button{
    transition-duration: 400ms;
    width: 15%;
    text-decoration: none;
    font-size: 3vw;
    text-align: center;

    margin: 5px;

    border-radius: 1vw;

    cursor: pointer;
}

.button_primary{
    color: black;
    border: 1vw solid black;
}

.button_danger{
    color: #ff455b;
    border: 1vw solid #ff455b;
}
.button_primary:hover{
    color: white;
    background-color: black;
}
.button_danger:hover{
    color: white;
    background-color: #ff455b;
}
@keyframes clean {
    0% {
        transform: translate(10%, 0);
    }
    100% {
        transform: translate(-110%, 0);
    }

}