body {
    height: 100vh;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;

    font-family: sans-serif;
}

.person_container {

    font-size: 30vw;
    display: inline-block;
    padding-left: 100%;


    /*
    animation: clean 15s linear infinite;
    */
}

.person {

}

.buttons_container {
    margin: 0 auto;
    text-align: center;
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
}

.button {
    font-size: 3vw;
    text-align: center;

    margin: 5px 15px;
    cursor: pointer;
}

.button_danger {
    text-decoration: #ff7070 underline;
    color: #ff7070;
}
.button_primary{
    text-decoration: #121520 underline;
    color: #121520;
}

@keyframes clean {
    0% {
        transform: translate(10%, 0);
    }
    100% {
        transform: translate(-110%, 0);
    }

}